.header-details {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.img-circle {
  border-radius: 50%;
  height: 50px;
}

.owner-details {

}

.img-name {
}
